{
  "useTabs": true,
  "semi": true,
  "printWidth": 130,
  "tabWidth": 4,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/routes/layout.css",
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
